@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patua+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


html, body {
  height:  100%;
  margin:  0;
  font-family: 'Pacifico', cursive;
  font-family: 'Patua One', cursive;
  color: white;
  background-color: white;
}



/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: white; 
  overflow-x: hidden;
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #a3978c;
  display: block;
  transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav {
  position: absolute;
  top: 0;
  right:0;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn {
  margin-left:  180px;
  top: 10px;
}




#main {
  transition: margin-right .5s;
  height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*hero image for greeting screen*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1546201483-a0fa9e5ed258?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  letter-spacing: 0.2em;
  text-align: center;
  padding-top: 10px;
  text-transform: capitalize;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
  font-family: 'Patua One', cursive;
  color: black;
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
}


h3 {
  font-family: 'Patua One', cursive;
  font-size: 1.5em;
  text-align: center;
      position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h5 {
  color: white;
  font-size: 2em;
  text-shadow: 5px, 5px, 5px;
}

p {
  color:  black;
  text-align: center;
  padding-top: 10px;
}


.buttons {
  display: inline-block;
  margin:  0;
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn {
    margin: 0;
    display: inline-block;
    text-decoration:none;
}

.btn:hover {
    color: black;
    background-color: white;
}

.btn-group {
  margin-top: 20px;
      left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-decoration: none;
    border-color: black;
}

.btn-group:hover {
  background-color: black;
  color: white;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.dog-play {
  background-image: url("https://images.unsplash.com/photo-1515410978164-a31dcea7f05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}

#slides {
  width: 100%;    
}

.humans {
  background-image: url("https://images.unsplash.com/photo-1598282506352-db1cdeaf834c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;

}


section .section-inner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .section-inner h2{
    color: #fff;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

footer {
  height:  100px;
  width: 100%;
  background-color: #a3978c;
}

/*Media screen responsive inputs*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .buttons{
    margin-top: 20px;
  }
  .btn {
    min-width: 48px;
    min-height: 40px;
    font-size: 1em;
  }
  .btn-group{
    min-width: 48px;
    min-height: 40px;
    font-size: 1em;
    margin-bottom: 10px;
  }
  h1{
    white-space: nowrap;
    letter-spacing: 0.2em;
    font-size: 2em ;
    font-weight: 100;
    top: 20%;
  }
  h3{
    white-space: nowrap;
    font-size: 1em;
    top: 30%;
  }
  hero-text {
    display: flex;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 50%;
    margin-top: 20px;
  }
  p {
    font-weight: 0.6em;
  }
  label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
  }
  input {
    width: 70%;
    height: 30px;
  }
  .indicates-required {
    font-size: 0.5em;
  }
  #mc-embedded-subscribe {
    font-size: 0.5em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    top: 0%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
